apiVersion: apps/v1
kind: Deployment
metadata:
  name: products
  labels:
    app: products
spec:
  replicas: 1
  selector:
    matchLabels:
      app: products
  template:
    metadata:
      labels:
        app: products
    spec:
      restartPolicy: Always
      containers:
      - name: products
        # This image used in RedHat OpenShift
        image: cluster-registry:32000/products:latest
        # If you don't use ./tekton, use this image in other k8s
        # image: docker.io/gorgeous/devops-23fall-products:20231127205915
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        env:
        - name: DATABASE_URI
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: database_uri
        readinessProbe:
          initialDelaySeconds: 5
          periodSeconds: 20
          httpGet:
            path: /health
            port: 8000
        resources:
          limits:
            cpu: "1.0"
            memory: "128Mi"
          requests:
            cpu: "1.0"
            memory: "128Mi"
